# Node/NPM
##################
node_modules/
.expo/
npm-debug.*


# Build folders
##################
/ios/build
/android/build
/android/app/build


## OS Garbage
##################
.idea/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
